<div class="row-nav">
    <a href="/home" id="store" class="six columns"><img src="/image/smart_logo.png"></a>
    <span class="three columns">&nbsp;</span>
    <div class="header">
        <h1>Smart Home Future</h1>
    </div>
    <span class="one column">&nbsp;</span>
</div>

